body {
    background-image: url('bilder/ezgif.com-speed.gif');
}

.container {
  height: 768px;
  width: 1024px;
  border: 5px solid black;
  background-image: url('bilder/dansegulv.gif'); /* kilde for gif: https://iconscout.com/lottie-animation/80s-dancefloor-animation_9024259 */
  background-size: cover;       /* gjør at bildet dekker hele containeren */
  background-repeat: no-repeat; /* hindrer at det repeteres */
  background-position: center;  /* sentrerer bildet */
  
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  animation: strobe 0.5s infinite;
  overflow: hidden;
}


@keyframes strobe {
  0%   { background-color: #a020f0; }
  25%  { background-color: #b266ff; }
  50%  { background-color: #c299fc; }
  75%  { background-color: #b266ff; }
  100% { background-color: #a020f0; }
}